*{
    margin: 0;
    padding:0;
}
.navbar{
  
}
/* .btnNav {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  transition: all 1s ease-in-out;


} */



.all .white{
    background-color: rgb(255, 255, 255);
    
    background-image:  url(../image/noise.png);
    background-size: 200px;
    background-repeat: repeat;

}
.white button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.all .black {

    background-image:  url(../image/noise.png);
    background-size: 200px;
    background-repeat: repeat;

}



.black button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
      
}

.link {
    float: left;
  }
  
.link a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-weight: 500;
    font-size: 20px;
  }

.link :hover{
    color: #be913d;
    
}
.search{
    background-color: white;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    display: block;
    height: 30px;
    width: 200px;
}
.white{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    
    background-image:  url(../image/noise.png);
    background-size: 200px;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    
}

.white .linkA {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  font-size: 20px;
  border: none;
}

.black{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;;
    background-color: rgb(0, 0, 0);
    background-image:  url(../image/noise.png);
    background-size: 200px;
    background-repeat: repeat;

}

.black li a {
    color: rgb(255, 255, 255);
}
.white li a {
  color: rgb(0, 0, 0);

}
.button{
    background-color: rgb(255, 255, 255);
    /* border-radius: 20px; */
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    float: right;
}
.link  a .active{
  color:#be913d;
}






.allCard{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}



/* style ta3 card moon */

 .black .card {
    color: transparent;
    transition: 0.2s ease-in-out;
    background-size: cover;
    z-index: 10000;
    position: relative;
   }

   
   .black .card:hover {
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
   } 
  
   .black .card:hover {
    transform: scale(1.14) rotate(-1deg);
  }

/* another style*/
  .card {
    background: #313131;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: rgb(255, 0, 0); */
    transition: 0.2s ease-in-out;
    width: 200px;
    height: 260px;
    border-radius: 30px;
    /* background: rgb(241, 0, 0); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    margin-bottom: 30px;
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
  }
  
  .image {
    transition: 0.2s ease-in-out;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    height: 265px ;
    width: 206px;
    background-size: cover;
  }
  
  .card:hover{
    opacity: 1;
    color: rgb(207, 255, 74);
  }

  .white .card:hover {
    transform: scale(1.14) rotate(-1deg);
  }
  
  .image:hover {
    opacity: 0.4;
    transform: scale(1.8);
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-3px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .card:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  
  @media (max-width:991px) {
    .card{
      width: 150px;
      height: 260px;
      margin-left: 10px;
    }
    .image{
      width: 150px;
      height: 260px;
    }

  }
